nav#breadcrumbs {
    padding: 15px 20px;
    background: var(--light-bg-color);
}

.breadcrumbs {
    /* margin-top: 90px; */
    padding: 20px 0;
}

nav#breadcrumbs a {
    color: var(--primary);
    margin: 0 5px 0 0;
    font-size: 14px;
    text-decoration: none;
}

.page-wrapper {
    color: var(--title-color);
    font-size: 14px;
}